<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- Set URL -->
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/maravillas</property>
        <!-- Set User Name -->
        <property name = "hibernate.connection.username">2DAM</property>
        <!-- Set Password -->
        <property name = "hibernate.connection.password">2DAM2022</property>
        <!-- Set Driver Name -->
        <property name = "hibernate.show_sql">true</property>
           
    </session-factory>
</hibernate-configuration>